.data {
   background: rgb(206, 204, 204);
   height: 88vh;
   width: 100%;
}
.add_data {
  align-items: center;
}
.show_data {
    margin-top: 3%;
  width: 100%;
  height: 80vh;
  overflow: scroll;
  align-items: center;
}
